!!!
%html
	%head
		%title Sentiment from Hottest Comments
		%meta{:http_equiv => "content-type", :content => "text/html", :charset => "utf-8"}
		!= stylesheet_link_tag :all
		!= csrf_meta_tag
		!= javascript_include_tag "jquery-1.6.1.min.js"
		!= javascript_include_tag "http://connect.soundcloud.com/2/latest.min.js"
		!= javascript_include_tag :defaults
%body
	#header.layout
		%p.title Senti(Com)ment
		%p.teaser Take all comments from the hottest song on SoundCloud. Compute their average sentiment on Musicmetric.
	#main.layout
		= yield
		#tracks
	#footer.layout
		%p
			= link_to 'http://developers.soundcloud.com', 'http://developers.soundcloud.com'
			|
			= link_to 'http://developer.musicmetric.com', 'http://developer.musicmetric.com'
