!!!
%html
	%head
		%title Sentiment for Comments
		%meta{:http_equiv => "content-type", :content => "text/html", :charset => "utf-8"}
		%link{:rel => 'stylesheet', :type => "text/css", :href => 'style.css', :media => 'all'}
		!= stylesheet_link_tag :all
		!= javascript_include_tag :defaults
		!= csrf_meta_tag
		!= javascript_include_tag "jquery-1.6.1.min.js"
		%script
			$(document).ready(get_sentiment())

%body
	.header.centered
		%p progressive <strong>file receiver</strong> (<span id='files_total_count_span'></span> files)
	.main.layout.centered
		= yield
	.footer.layout.centered
